@inherits LayoutComponentBase

<header>
    <div class="top-row px-4">
        <a href="https://github.com/GitDatCookie/AdventOfCode2023" style="color:green">Advent of Code 2023 | Github Repo - GitDatCookie</a>
        <input type="checkbox" title="Navigation menu" class="navgrid-toggler" @bind="@isComponentVisible" />
    </div>
</header>
<div>
    @if (@isComponentVisible)
    {
        <AdventCalendar/>
    }
</div>
<div class="page" style="max-width: calc(100% - 500px);">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<footer>
    <div style="position:fixed; bottom:0; left:0; width:100%; border-top: solid 1px #008000; padding-top:10px; padding-bottom:10px">
        <a href="https://adventofcode.com/2023" style="text-decoration: none; color:green; padding-left: 20px;">Advent of Code 2023 - Eric Wastl</a>
    </div>
</footer>



