@page "/"


<PageTitle>Home</PageTitle>

<h1>Ahoy Christmas!</h1>

Welcome to my annual (and often times doomed) attempt at conquering Advent of Code! 
For those who haven't heard of it, it's a delightful challenge created by Eric Wastl where you tackle small coding tasks every day of the advent calendar to sharpen your coding skills. 
This year, I wanted to experiment with some frontend work, so I chose Blazor—consider this a trial run. 
To get started, just click on the calendar at the top left and find the door you want to solve in the ever-shuffling advent calendar. 
Enjoy the challenge!