@page "/task/{day:int}"
@using AdventOfCode2023Blazor.Components.Layout

<h3>Welcome to my Advent of Code Blazor extravaganza.</h3>
<p>Please pick a day:</p>


@if (selectedTask != null)
{
    <div class="task-details">
        <h4>Task @selectedTask</h4>
        <div class="upload-section">
            <label for="taskUpload">
                Upload your task input:
            </label>
            <InputFile id="taskUpload" accept=".txt" OnChange="FileUpload" />
        </div>
    </div>
}

